body{
    background-color: #fffffa;
}

textarea{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div{
    width: 40em;
    margin: 0 auto;
    word-wrap: break-word
}

.centrata{
     margin: auto;
}

.match{
    background-color: #8C9C88;
}

.subst{
    background-color: #F2DBAE;
}

.fissa{
    width: 600px;
    overflow: auto;
}
